@use "global" as *;

.about {
    margin-top: rem(67);
    // @include mq(md) {
    //     margin-top: rem(0);
    //     padding-top: rem(80);
    // }

}
.about__inner {
    max-width: rem(1000);
    margin-inline: auto;
    padding-left: rem(20);
    padding-right: rem(20);
    position: relative;
    @include mq(md) {
        padding-right: rem(20);
    }
}

.about__content {
    margin-top: rem(132);
    @include mq(md) {
        margin-top: rem(69);
    }
}

.about__content-img img {
    width: rem(137);
    display: inline-block;
}

.about__content-title {
    margin-top: rem(18);
}

.about__content-title h2 {
    font-size: 24px;
    font-weight: bold;
    @include mq(md) {
        font-size: 18px;
    }
}

.about__content-text {
    margin-top: rem(25);
}

.about__content-text p {
    font-size: 16px;
    line-height: 2.5;
    @include mq(lg) {
        font-size: 14px;
        line-height: 2;
    }
}

.about__content-text.about__mission-text {
    padding-right: rem(250);
    @include mq(xl) {
        padding-right: rem(100);
    }
    @include mq(lg) {
        padding-right: 0;
    }
}

.about__content.about__vision {
    text-align: right;
    margin-top: rem(111);
    @include mq(lg) {
        text-align: start;
        margin-top: rem(60);
    }
}

// .about__content-text.about__vision-text {
//     padding-left: rem(257);
//     @include mq(lg) {
//         padding-left: 0;
//     }
// }

.about__background {
    margin-top: rem(-51);
    @include mq(md) {
        margin-top: rem(-30);
    }
}

.js-fade {
    opacity: 0;
    visibility: visible;
    transform: translateY(0px);
    transition: opacity 2s,visibility 2s, transform 2s;
}

.scroll {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}
