@use "global" as *;

.message {
    margin-top: rem(80);
    // @include mq(md) {
    //     margin-top: rem(0);
    //     padding-top: rem(80);
    // }
}

.message__inner {
    max-width: rem(1440);
    width: 100%;
    margin-inline: auto;
}

.message__content {
    margin-top: rem(69);
    position: relative;
}

.masseage__img {
    @include mq(lg) {
        position: relative;
        height: auto;
    }
}

.masseage__img::after {
    @include mq(lg) {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;         /* 幅いっぱい */
        height: 100%;        /* 高さいっぱい */
        background: linear-gradient(rgba(255,255,255,0) 60%, #fff 100%); /* 徐々に透明にする */
        }
}

.masseage__img img {
    @include mq(xl) {
        height: 650px;
        object-fit: cover;
    }
    @include mq(lg) {
        height: auto;
        min-height: rem(272);
        object-fit: cover;
        object-position: 80%
    }
}

.masseage__text-area {
    padding-left: rem(240);
    margin-top: rem(23);
    position: absolute;
    top: 0;
    @include mq(xl) {
        padding-left: rem(100);
    }
    @include mq(lg) {
        padding-left: rem(40);
        padding-right: rem(40);
        position: relative;
        margin-top: rem(-360);
    }
    @include mq(md) {
        padding-left: rem(20);
        padding-right: rem(20);
        position: relative;
        margin-top: rem(-160);
    }
    @include mq(sm) {
        margin-top: rem(-100);
    }
}

.message__subtitle h2 {
    font-size: 32px;
    @include mq(md) {
        font-size: 28px;
    }
    @include mq(sm) {
        font-size: 20px;
    }
}

.message__text {
    margin-top: rem(30);
    // padding-right: rem(650);
    max-width: rem(550);
    // @include mq(lg) {
    //     max-width: rem(680);
    // }
    @include mq(xl) {
        max-width: rem(650);

    }
    @include mq(lg) {
        padding-right: 0;
        max-width: none;

    }
    @include mq(sm) {
        margin-top: rem(20);
    }
}

.message__text p {
    font-size: rem(16);
    line-height: 2.3;
    @include mq(xl) {
        font-size: 14px;
    }
    @include mq(lg) {
        font-size: 14px;
        line-height: 2;
    }
    @include mq(md) {
        text-shadow: 0px 0px 10px #ffffff
    }
    @include mq(sm) {
        text-align: justify;
        line-height: 2;
    }
}

.message__ceo-name {
    max-width: rem(298);
    width: 100%;
    padding: rem(16) rem(116) rem(20) rem(26);
    position: absolute;
    right: 0;
    bottom: rem(53);
    background-color: #fff;
    @include mq(lg) {
        max-width: rem(340);
        padding: rem(10) rem(20);
        box-shadow: 2px 2px 3px rgb(129, 125, 125);
        right: auto;
        bottom: auto;
        top: rem(100);


    }

    @include mq(md) {
        max-width: rem(160);
        padding: rem(10) rem(20);
        box-shadow: 2px 2px 3px rgb(129, 125, 125);
        right: auto;
        bottom: auto;
        top: rem(30);


    }
}

.message__ceo-name p {
    font-size: rem(18);
    @include mq(md) {
        font-size: rem(16);
    }
}

.message__ceo-name img {
    margin-top: rem(20);
    @include mq(md) {
        margin-top: rem(14);
    }
}

.message__subtitle-u-mobile {
    display: none;
    @include mq("lg") {
      display: block;
    }
  }