@use "global" as *;

.section__title {
    text-align: center;
}

.section__title-img {
    display: inline-block;
    max-height: rem(12);
    width: auto;

}

.section__title-text {
    margin-top: rem(9);
    font-size: rem(40);
    @include mq(md) {
        font-size: rem(32);
    }
}

